#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_BlackShadowCoind += debian/examples/*
DEB_INSTALL_MANPAGES_BlackShadowCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix BlackShadowCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f BlackShadowCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake BlackShadowCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/BlackShadowCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/BlackShadowCoind
binary-post-install/BlackShadowCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/BlackShadowCoin-qt
